// color system
$primary: #2D9CDB;
$info: #E5A0FF;
$danger: #EB5757;
$success: #6FCF97;
$warning: #F2C94C;
$grey-600: #828282;
$body-bg: #eee;
$secondary: #ffffff;
$dropdown-title: #80808066;
$blue: #3847d1;
$pinck: #db2ef1;
$input-disabled-bg: #e9ecef38;

// text
$font-weight-bold800: 800 !important;

// border radius
$input-border-radius: 10px;
$input-border-radius-sm: 10px;
$input-border-radius-lg: 10px;
$custom-select-border-radius: 10px;
$custom-select-border-radius-sm: 10px;
$custom-select-border-radius-lg: 10px;

// btn border radius
$btn-border-radius: 25px;
$btn-border-radius-lg: 25px;
$btn-border-radius-sm: 25px;

