.top-navbar{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.navbar-toggler {
  border: none;
  box-shadow: none;
  padding: 0.25rem 0.55rem;
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.icon-parent {
  position: relative;
}

.icon-parent i{
  font-size: 1.2rem;
}

.icon-parent span.icon-bullet {
  position: absolute;
  top: 5px;
  left: 15px;
  height: 16px;
  width: auto;
  background-color: $info;
  border-radius: 50%;
  border: 1px $white solid;
  font-size: 10px;
  color: $white;
  padding: 0px 4px;
}

// notifications block
.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu.notifications{
  min-width: 16rem;
  max-height: 16rem;
}

.top-text-block {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: inherit !important;
  border-bottom: 1px solid #f4f4f4;
  position: relative;
  font-size: .8rem;

  &:hover {
    &:before {
      content: '';
      width: 4px;
      background: $primary;
      left: 0;
      top: 0;
      bottom: 0;
      position: absolute;
    }
  }

  &.unread {
    background: #ffc;

    &:hover {
      background:#ffd;
    }
  }

  .top-text-light {
    color: #999;
    font-size: 0.8em;
  }
}

.top-head-dropdown {
  .dropdown-menu {
    width: 350px;
    height: 300px;
    overflow: auto;
  }

  li:last-child {
    .top-text-block {
      border-bottom: 0;
    }
  }
}

.topbar-align-center {
  text-align: center;
}

.loader-topbar {
  margin: 5px auto;
  border: 3px solid #ddd;
  border-radius: 50%;
  border-top: 3px solid $primary;
  width: 22px;
  height: 22px;
  -webkit-animation: spin-topbar 1s linear infinite;
  animation: spin-topbar 1s linear infinite;
}

@-webkit-keyframes spin-topbar {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin-topbar {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
// end of notifications block

// profile block
.nav-item .profile{
  cursor: pointer;
}

.profile .dropdown-menu{
  min-width: 12rem;
  max-height: 16rem;
  right: 1rem;
  font-size: .8rem;
}

.dropdown .dropdown-item svg {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  fill: #f2f2f2;
}

.profile {
  border: 1px $body-bg solid;
  border-radius: 10px;
}

.profile img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.profile .details {
  h6 {
    padding: 5px 8px 0px 5px;
    font-size: 14px;
    color: $grey-600
  }

  small {
    padding: 0px 8px 5px 5px;
    font-size: 12px;
    color: $grey-600
  }

  span {
    padding: 5px 8px 0px 5px;
    font-size: 12px;
    color: $grey-600
  }
}
// end profile block
